@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  
    box-sizing: border-box;
  }
  body {
    margin: 0;
    border: 0;
    background-color: white;
    overflow-x: hidden;
  }

  .nav{
      padding:1em 2em 1em 16em;
      margin-top:1em;
      border:1em;
      display:flex;
      justify-content: space-between;
      width:90vw;
  }
  .logotext{
      font-size: 2rem;
      color:#255946;
      font-weight: 600;
      margin-bottom:4em;

  }
  .agricom{
    margin-right:1.15em;
  }

  .img-icon{
      margin-right:1.15em;
  }


  .navlink{
      margin-left:3em;
      text-decoration: none;
      color: #6E7673;
      font-size:1rem;
      margin-top:4em;
  }
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #4c982a;
  }
  .base{
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(Images/base.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   opacity:90%;
    height:105vh;
    padding:3em;
  }

  .basep1{
      font-size:1rem;
      margin-left:13em;
      color:white;
      margin-top:3em;
  }
   .basep2{
       font-size:1.25rem;
       color:white;
       margin-left:10em;
   }


  .baseh1{
      font-size:4rem;
      color:white;
      margin-left:3em;
      margin-bottom: 0;
      margin-top: 0;
  }

  .basebtn{
      padding:1em 4em;
      background-color:#F7C35F;
      border:none;
      margin-left:14.85em;
      color:white;
      border-radius: 0.25em;
  }
.gallery{
    display:flex;
    justify-content: center;  
    background-color:#F7C35F;
}
.gallery1, .gallery2, .gallery3{
    margin-top:7em;
   
    margin-bottom:-6em;
    border-radius: 2em;
}
.gallery2{
margin-left:5em;
}
.gallery1{
    margin-left:18em;
    }
    .gallery3{
        margin-right:9em;
    }
  
.gallerybtn{
    margin-top:-4em;
    color:#255946;
    padding:1em 2em;
    margin-left:2em;
    border:none;
    border-radius: 0.25em;
}
.machine{
   margin-top:12em;
   display:flex;
 
}

.smallfont{
    font-size:0.85em;
   color: #6E7673;
}
.better{
    font-size:2em;
    color:#255946;
}
.agro{
    color: #F7C35F;
}

.yellow-break{
    color:#6E7673;
    font-size:0.75em;
}

.img-g{
    width:60%;
    margin:5em 6em 1em 8em;
}
.price{
  margin: 5em 0 0 10em;
  position:absolute;
   
}

.trust{
    margin:3.65em 0 1em 2.25em;
    color:white;
    font-size:1.65em;
    position:absolute;
}

.bolder{
    font-size:0.35em;
}
.logo-text{
    background-color:white;
    border-radius:0.35em;
    margin-left: -20em;
    margin-top:10em;
    padding:5em 4em ;
    width:50%;
    line-height: 1.55em;;
    
}


.grouptext{
    border-top: 0.45px solid rgb(228, 226, 226) ;
    border-bottom: 0.45px solid rgb(228, 226, 226);
    padding:2em;
    margin: 1em;
    font-size:0.75em;
    color:#255946;
}


.iconbtn{
    margin-bottom:0;
    background-color:#F7C35F;
    border-radius:0.25em;
    padding: 1em 3em;
    border:none;
    color:white;
    margin:2em auto;
}

 .closedp{
 margin-top:6em;
 color:#255946
 }
 .closedimg{
     display:block;
     margin: 2em auto 0;
 }

 .Pclosed1{
     text-align: center;
     font-size:0.75rem;
 }

 .bold{
    font-size:1.75rem; 
    
 }


.photoevidence{
     display:flex;
 }


 .closedimg2{
     margin-left:10em;
 }
 .closedimg1{
     margin-left: 3em;
 }
 .closedimg4{
     margin-right:5em;
 }
 .closedimg3{
    margin-right:3.45em;
 }
 .closebtn{
     margin: 9em 2em 0 -16em;
    color:#FFFFFF;
    background-color:#F7C35F;
    padding:2em 3em;
    border:none;
    position: absolute;
    border-radius: 0.75em;
}

.greenbg{
    background-color:#255946;  
    margin-top:5em;
    padding-top: 2em;
    padding-bottom: 4em;
}
.testimonial{
    transform: rotate(-90deg);
    position: absolute;
    margin-top:5em;
    font-size:0.65rem;
    color:#F7C35F;
    margin-left:4em;
 
}


.exserv{
    max-width: 38%;
   display: block;
   margin:auto;
    color:white;
   line-height: 2.45em;
   font-weight:lighter;
}
.greenbgimg{
    display:flex;
    justify-content: center;
}

.name, .position{
text-align:center;
color:white;
}

.position{
 margin-bottom:5em;
}
.wrap{
    padding:3em 5em 2em 6em;
    width:70%;
    border-radius: 0.33em;
    background-color: #F6F5F2;
    margin:-5em auto;
}

.section3{
    display:flex;
    justify-content:space-between;
   
}

.lclosed1{
  font-size:0.65em;
  color:#6E7673;
}

.l-bold{
font-size:2.55em;
color:#255946;
margin-right:2em;
}

.lpara{
    max-width:30em;
    margin-top:2em;
    color:#6E7673;
    font-size:0.65em;
    line-height: 15px;
}

.l-evidence{
    display:flex;
    width:100%;
    justify-content: center;
    margin:2em auto;
    justify-content: space-around;
}
.wrap1{
    display:flex;
    justify-content:space-around;
}
.wrapper{
    background-color: white;
    width:24.45%;
    margin-left:0.10em;
    margin-top:-2.55em;
    padding:2em 0.25em;
}
.letter{
  font-size:0.75em;
  margin-top:-4.55em;
  margin-bottom:0.45em;
  margin-left:10em;
  margin-right:2em;
  background-color:#49A760;
  border-radius: 50%;
  border: 3px solid white;
  color:white;
 padding:0.45em 0.85em;
  position: absolute;
}

.p-wrap{
    font-size:0.55em;
    color:#6E7673;
  margin-left:2em;
  }
  
  .break{
  font-size:1.20em;
  color:#255946;
  margin-right:2em;
  }
  .small{
      background-color: #F7C35F;
      border:none;
      border-radius: 0.35em;
      font-size:0.25rem;
      padding:2em 5em;
      color:white;
     
      margin: 1em 0 0 4em;
  }
  .wrapper1{
    background-color: white;
    width:25.45%;
    margin-left:0.15em;
    margin-top:-2.25em;
    padding:2em 0.25em;
  }

  .wrapper2{
    background-color: white;
    width:24.45%;
    margin-left:0.05em;
    margin-top:-2.55em;
    padding:2em 0.25em;
  }

.agric{
display:flex;
justify-content: space-around;
}
.care{
    color:#255946;
    font-size:0.75em;
    margin-left:3em;
    margin-top:3em;

}

.yellow-bar{
    width:10px;
    background-color:#F7C35F;
    height:60px;
    margin-top:3em;
    margin-left:8em;
}
.green-bar{
    width:70px;
    background-color:#1F4E3D;
    height:60px;
    margin-left:-1em;
    margin-top:3em;
}
.wrap3{
    display:flex;
    width:70%;
    margin: 8em auto;
    justify-content: space-between;

}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"]{
    background-color: #F6F5F2;
    border:none;
    padding:1.25em 7em;
    margin-bottom: 1em;
    font-size:0.65em;
    border-radius:0.45em;
}
#password{
    padding:7em;
}
.imgwrap{
margin-right:3em;
}

.btn4{
    background-color: #F7C35F;
    border:none;
    color:white;
    padding:1em 2em;
    font-size:0.65em;
    border-radius:0.4em;
}
.wrap-p{
font-size:0.75em;
color:#6E7673;
}
.leave{
font-size:1.65em;
color:#255946;
}

.wrap-p2{
    margin-right:1em;
    font-size:0.75em;
    color:#6E7673;
}
.logowrap{
    display:flex;
    justify-content: space-around;
    width:65%;
    margin:auto;
}
.envato{
    margin-right:5em;
    font-size:0.45em;
}

.footerwrapper{
display:flex;
justify-content: space-around;
background-color:#255946;
margin-top:5em;
color:#B5C3BE;
padding:2em 11em;
font-size:0.85em;
}
h6{
    font-size:1em;
}
.contact-p .link-p{
    line-height:10em;
}

.news-p, .news-p2{
    border-left:40px solid white;
    border-radius:0.25em;
    padding-left:1em;

}

.footerfield, .footerlogo{
 background-color:white;
padding: 1em;
border-radius:0.25em;
}
.color{
    color:#F7C35F;
}


@media only screen and (max-width: 480px) {
      .nav{
        display:flex;
        justify-content: space-between;
    }


        .navtext {
        font-size:1rem;
        position: absolute;
        left: -100%;
        top: 2em;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #fff;
        width: 100%;
        text-align: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
    
      .navtext.active {
        left: 0;
      }
      .hamburger {
        display: block;
        cursor: pointer;
        margin: auto 3em;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
        -ms-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }

      .logotext{
        font-size: 1rem;
        color:#255946;
        font-weight: 600;
  
    }
    
    .navlink{
        margin-left:1em;
    }
    .agrikom{
        width:50%;
    }
    
      .base{
        background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(Images/base.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       opacity:90%;
       width:100vw;
        height:85vh;
        padding:3em;
      }

      .baseh1{
        font-size:2rem;
        max-width: none;
        display:block;
        margin:1em auto; 
    }


    .basep1,.basep2{
        margin:auto;
        font-size:1.25rem;
        display:block;
        color:white;
    }

    .basebtn{
        padding:1em 4em;
        background-color:#F7C35F;
        border:none;
        margin: 2em auto;
        color:white;
        border-radius: 0.25em;
    }

    .gallery{
        flex-direction: column;

    }
    .gallery1{
        width:55%;
    }
    .gallery1, .gallery2, .gallery3{
    margin-top:7em;
    margin-left:5em;
    margin-bottom:0.15em;
    border-radius: 2em;
}

.gallery3{
    width:70%;
}
  .machine{
      flex-direction: column;;
  }  
  .price{
    margin: -10em 0 6em;
    position:absolute;
     
  }
 

  .img-g{    
    width:60%;   
    margin:-5em 0 1em 4em;
}
.logo-text{
    background-color:white;
   display:block;
   margin:auto;
   width:90vw;
}

.grouptext{
    border-top: none;
    border-bottom: none;
    padding:2em;
    margin: 1em;
    font-size:0.75em;
    color:#255946;
}

.grouptext{
    margin-left:3em;
}

.closedimg1{
    margin-left:1em;
    
    
}
.closedimg2{
    margin-left:1em;
}

.closedimg4{
    margin-right:1em;
}
.closedimg3{
   margin-right:1em;
}
.closebtn{
    font-size:0.45em;
    margin-right:4em;
    padding:1em 3em;
}
.testimonial{
    margin-left:2em
}

.exserv{
max-width:60%;
}
.section3{
    flex-direction: column;
}
.lead{
 width:80px;
}
    
}
@media screen and (device-aspect-ratio: 40/71) {
    .base{
        background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(Images/base.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
       opacity:90%;
       width:110vw;
        height:105vh;
        padding:3em;
      }
      .gallery, .greenbg{
        width:110vw;
    }
    
}